body {
	--padding-left: 4em;
	--padding-right: 4em;
	--padding-top: 2em;
	font-family: Verdana;
	color: white;
	--background-color:#F0F8FF; 
	background-color:#00264d;
}
h1 {
	color:SlateGray;
	color:#b3cccc;
	font-size: 38px;
	font-weight: bold;
	text-align: center;
	font-family:'eurof35';
	font-family:'Arial';
}

h3 {
	color:SlateGray;
	color:#f2f2f8;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family:'eurof35';
	font-family:'Arial';
}

.divimage{
	display: flex;
	justify-content: center; /* Centra horizontalmente */
	align-items: center;    /* Centra verticalmente */
	height: 224px;          /* Altura del contenedor */
}