body {
	--padding-left: 4em;
	--padding-right: 4em;
	--padding-top: 2em;
	font-family: Verdana;
	color: white;
	--background-color:#F0F8FF; 
	background-color:#00264d;
}
h1 {
	color:Lavender;
	color:#b3cccc;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	font-family:'eurof35';
	font-family:'Arial';
}

h3 {
	color:SlateGray;
	color:#f2f2f8;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family:'eurof35';
	font-family:'Arial';
	text-transform:uppercase;
}

h4 {
  color:AliceBlue;
  font-size:26px;
  text-align:center;
  font-family:courier;
  background-color:LightSlateGrey;	
}

p {
  color:GhostWhite;
  font-size:18px;
  text-align:left;
  font-family:verdana, courier;
}




.btn-group .button {
  background-color: SlateGrey; 
  border: 1px solid DimGrey;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: LightSteelBlue;
}





.divimage{
	display: flex;
	justify-content: center; /* Centra horizontalmente */
	align-items: center;    /* Centra verticalmente */
	height: 224px;          /* Altura del contenedor */
}

.divseccioncolumbia {
  display: flex;
  margin-top: 28px;
}
.divseccioncolumbia > div {
  width:50%;
}

.divseccionoxford {
  display: flex;
  margin-top: 28px;
}
.divseccionoxford > div {
  width:50%;
}


.divseccionpolo {
  display: flex;
}
.divseccionpolo > div {
  width:98%;
}

.imggrayscale {
  filter: grayscale(100%); /* Starts in grayscale */
  transition: filter 0.3s ease; /* Smooth transition to color */
}

.imggrayscale:hover {
  filter: grayscale(0%); /* Full color on hover */
}



.imgscale {
  transition: transform 0.3s ease; /* Smooth zoom effect */
}

.imgscale:hover {
  transform: scale(1.2); /* Enlarges the image slightly */
}

.imgopacity:hover {
  opacity: 0.7; /* Makes the image slightly transparent on hover */
  transition: opacity 0.3s ease; /* Smooth transition */
}


.imgborder{
	transition-duration: 0.4s;
}

.imgborder:hover{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 6px 20px 0 rgba(255,255,255,0.7);
}